*~
.*.swp
*.pyc
__pycache__

/MANIFEST
/build
/dist
/*.egg-info
/_site

coverage.xml
.pytest_cache
.cache
.coverage
.coverage.*
.eggs
.project
.pydevproject
.settings
.tox
.vscode
.sass-cache
Gemfile.lock
