html {
background: #eeeeec url(img/radicale_back.png) 130% -150px no-repeat;
}

h1 a {
background: url(img/radicale.png) 50% 50% no-repeat;
color: transparent;
display: block;
font-size: 0;
height: 175px;
margin: -15px 0 0 -20px;
position: relative;
width: 100px;
}

a {
color: #4e9a06;
}

h1 a:hover,
h1 a:focus {
background: #eeeeec url(img/radicale.png) 50% 50% no-repeat;
}

pre {
background: #2e3436 url(img/radicale_back.png) 20% 60% no-repeat;
}

.highlight pre {
background: #eeeeec;
text-shadow: 0 0 1px white;
}

nav ul {
background: #a40000;
color: white;
margin: -4.5em 0 6em 100px;
}

nav li a:hover,
nav li a:focus {
box-shadow: 1px 1px 3px #600;
color: #a40000;
}

.note {
background: #eeeeec url(img/radicale_back.png) 20% 60% no-repeat;
}

#rss {
background-color: #a40000;
}
