.documentContainer {
    width: 100%;
}

header .logoContainer {
    padding: 2em 10px;
    background-position: 50%;
    min-height: 320px;
    text-align: center;
}

header .logoContainer, header .documentBranch select {
    text-shadow: 0 0 3px #050a02, 0 0 3px #050a02;
}

header .logoContainer, header ul, main {
    max-width: none;
}

nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #e4e9f6;
    z-index: 1;
    max-height: none !important;
    margin: 0;
    transform: translate(-100vw);
    transition: transform ease .2s;
}

html.nav-opened {
    overflow: hidden;
}

.nav-opened nav {
    transform: none;
}

main, .navContainer {
    position: relative;
}

.navButtonContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex !important;
    align-items: start;
    justify-content: flex-end;
    pointer-events: none;
}

.navButtonContainer button {
    background: #a40000;
    color: white;
    border: none;
    font-size: 1em;
    font-weight: normal;
    font-family: sans-serif;
    cursor: pointer;
    padding: 10px;
    top: 10px;
    position: sticky;
    margin: 10px;
    z-index: 1;
    border-radius: 3px;
    pointer-events: initial;
    transition: color .2s ease;
}

.navButtonContainer button:hover {
    color: black;
}
