header .documentBranch::after, header .documentBranch select, .navButtonContainer {
    display: none !important;
}

header .documentBranch span {
    display: inline;
}

nav {
    position: static;
    height: auto;
    /* Override changes made by JS to HTMLElement */
    max-height: none !important;
}

nav .level2.active > a, nav .level3.active > a {
    background: none;
    border-left-color: transparent;
}

nav li.level4 {
    display: list-item;
}

nav .level4 > a::after {
    display: none !important;
}

@media all and (max-width: 50em) {
    nav {
        display: none;
    }

    html.nav-opened {
        overflow: initial;
    }
}
